@charset "utf-8";

#hamburger{
    display: none;
}
/* header */
.main-banner{
    background: url(../img/banner.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    height: 100vh;
}
.header-area{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 999;
    background-color: #ffffff;
    color: #1E1D1D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 160px 0;
    transition: 0.5s;
}
.header-area .header-logo{
    width: 179.25px;
    height: 17.44px;
}
.header-area #main-menu{
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-area #main-menu li:hover,
.header-area .icon-box li:hover{
    opacity: 1;
    transition: 0.5s;
}
.header-area #main-menu .menu{
    margin-right: 40px;
    opacity: .4;
    cursor: pointer;
}
.header-area #main-menu .menu:last-child{
    margin-right: -60px;
}
.header-logo svg{
    fill: #1E1D1D;
}
.header-logo svg.active{
    fill: #fff;
}
.header-area.active{
    background-color: #1E1D1D;
    color: #fff;
}
.header-area.tomboy{
    background-color: #D1C4C0;
}
.header-area.levart{
    background-color: #E9F3EF;
}
.header-area.rolex{
    background-color: #C7D9E2;
}
.header-area.uiux{
    background-color: #DEF4F5;
}

/* banner */
.banner{
    padding-left: 160px;
    padding: 200px;
}
.banner-box1{
    font-size: 24px;
}
.banner-box2{
    font-size: 120px;
}
.animation{
    font-size: 24px;
    display: flex;
    align-items: center;
}
.line{
    position: relative;
    top: 0;
    left: 0;
    width: 610px;
    height: 1px;
    background-color: #1E1D1D;
    margin: 0 20px;
}
.circle{
    position: absolute;
    top: -8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #1E1D1D;
    animation: circle 10s linear infinite;
}
@keyframes circle{
    form{
        transform: translateX(0);
    }
    to{
        transform: translate(3730%);
    }
}

.banner-box4{
    font-size: 28px;
    line-height: 1.5;
    padding-top: 40px;
}

.homepage{
    animation: page 2s linear infinite;
}
@keyframes page{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
/* sec-1 */
.sec-1{
    background-color: #222;
}
.sec-1 .container{
    display: flex;
    background: url(../img/Union.png) no-repeat center;
    background-size: cover;
}

/* .profile-line{
    position: absolute;
    top: 1100px;
    left: 0;
    z-index: 0;
} */

.sec-1 .left-content{
    width: 50%;
    padding-top: 180px;
    padding-left: 261px;
    z-index: 1;
}
.sec-1 .left-main.active{
    position: fixed;
    top: 15%;
    z-index: -1;
    height: 100vh;
}
.sec-1 .right-content{
    width: 50%;
    margin-top: 300px;
    margin-left: -150px;
}
.sec-1 .left-profile{
    width: 400px;
    height: 400px;
    padding-bottom: 4px;
}
.sec-1 .left-main .left-txt{
    font-size: 1.5rem;
    color: #fff;
}
.left-profile img{
    z-index: -9;
}
.sec-1 .left-main .left-txt .left{
    padding-top: 20px;
}
.hashtag{
    padding-top: 24px;
}
.hashtag .tag{
    font-size: 1.25rem;
    color: #1E1D1D;
    text-align: center;
    padding-top: 8px;
    height: 40px;
    background-color: #fff;
    border-radius: 20px;
}
.up-tag{
    display: flex;
    margin-bottom: 12px;
}
.down-tag{
    display: flex;
}
.skill img{
    width: 486.94px;
    height: 140px;
    transform: translate(120%, 40px);
    margin-top: 100px;
}
.skill{
    z-index: 1;
}
.skill.active{
    position: fixed;
    top: 15%;
    z-index: -1;
}
.tag1{
    width: 200px;
    margin-right: 12px;
}
.tag2{
    width: 227px;
}
.tag3{
    width: 179px;
    margin-right: 33px;
}
.tag4{
    width: 227px;
}
.tag:nth-child(2){
    margin-right: -12px;
}
.skill-box p{
    font-size: 2rem;
    color: #fff;
}
.skill-title{
    margin-bottom: 20px;
}
.value{
    margin-left: 20px;
}
.main-bar{
    display: flex;
    align-items: center;
    margin-bottom: 120px;
}
.ani-bar{
    width: 500px;
    border: 1px solid #fff;
    border-radius: 20px;
}
.ani-bar .bar{
    height: 50px;
    display: block;
    overflow: hidden;
    border-radius: 20px;
}

.bar1{
    width:90%;
    background: linear-gradient(90deg, #FF835B 0%, #ffc 100%);
}
.bar2{
    width:90%;
    background: linear-gradient(90deg, #83BCFF 0%, #ffc 100%);
}
.bar3{
    width:80%;
    background: linear-gradient(90deg, #FBDE34 0%, #ffc 100%);    
}
.bar4{
    width:60%;
    background: linear-gradient(90deg, #4541FF 0%, #ffc 100%);    
}
.bar5{
    width:60%;
    background: linear-gradient(90deg, #FF9A00 0%, #ffc 100%);   
}
.bar6{
    width:90%;
    background: linear-gradient(90deg, #D9D9D9 0%, #ffc 100%);    
}
.bar1.skill_ani {animation:skill_bar 2s ease both;}
.bar2.skill_ani {animation:skill_bar 2s ease both;}
.bar3.skill_ani {animation:skill_bar 2s ease both;}
.bar4.skill_ani {animation:skill_bar 2s ease both;}
.bar5.skill_ani {animation:skill_bar 2s ease both;}
.bar6.skill_ani {animation:skill_bar 2s ease both;}

@keyframes skill_bar {
    0% {width:0%}
    1000% {width:100%}
}

/* sec-2 */
.sec-2{
    position: relative;
    background: url(../img-studio/tomboy-img.png) no-repeat center;
    z-index: 9;
}
.sec-2 .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin-right: 236px;
}
.sec-2 .tomboy{
    width: 1000px;
    height: 562px;
    border-radius: 50px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
}
.tomboy-txt{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.tomboy-left li{
    color: #6E554C;
    margin-bottom: 32px;
    font-weight: 700;
    margin-right: 36px;
}
.tomboy-left .tomboy-sub1{
    margin-bottom: 103px;
}

.tomboy-right li{
    margin-bottom: 32px;
}
.tomboy-right img{
    width: 136px;
    height: 93px;
}
.tomboy-right .tomboy-sub2{
    margin-bottom: 36px;
}
.tomboy-right a{
    color: #bd9282;
}

/* sec-3 */
.sec-3{
    position: relative;
    background-color: #fff;
    background: url(../img-levart/levart-img.png) no-repeat right bottom;
}
.sec-3 .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin-right: 236px;
}
.sec-3 .levart{
    width: 1000px;
    height: 562px;
    border-radius: 50px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
}
.levart-txt{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.levart-left li{
    color: #589983;
    margin-bottom: 32px;
    font-weight: 700;
    margin-right: 36px;
}
.levart-left .levart-sub1{
    margin-bottom: 103px;
}

.levart-right li{
    margin-bottom: 32px;
}
.levart-right img{
    width: 136px;
    height: 93px;
}
.levart-right .levart-sub2{
    margin-bottom: 36px;
}
.levart-right a{
    color: #77cfb2;
}

/* sec-4 */
.sec-4{
    position: relative;
    background-color: #fff;
    background: url(../img-rolex/rolex-img.png) no-repeat right bottom;
}
.sec-4 .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin-right: 236px;
}
.sec-4 .rolex{
    width: 1000px;
    height: 562px;
    border-radius: 50px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
}
.rolex-txt{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.rolex-left li{
    color: #49758B;
    margin-bottom: 32px;
    font-weight: 700;
    margin-right: 36px;
}
.rolex-left .rolex-sub1{
    margin-bottom: 103px;
}

.rolex-right li{
    margin-bottom: 32px;
}
.rolex-right img{
    width: 136px;
    height: 93px;
}
.rolex-right .rolex-sub2{
    margin-bottom: 36px;
}
.rolex-right a{
    color: #6caac9;
}
/* sec-5 */
.sec-5{
    background: url(../img-uiux/backgrond.png) no-repeat center;
    background-size: auto;
    position: relative;
}
.sec-5 .container{
    height: 100vh;
    padding-top: 100px;
}
.sec-5 .container .swiper{
    position: relative;
    top: 100px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 400px;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.sec-5 .container .uiux .swiper-slide{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 143px;
    height: 301px;
    border-radius: 23px;
}
.sec-5 .container .uiux .swiper-slide img{
    width: 143px;
    height: 301px;
    border-radius: 23px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
}
.uiux-txt{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-top: 150px;
}
.uiux-left li{
    color: #31999D;
    margin-bottom: 32px;
    font-weight: 700;
    margin-right: 36px;
}
.last-txt{
    margin-bottom: -28px;
}
.uiux-right li{
    margin-bottom: 28px;
}
.uiux-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 95%;
    top: 90%;
}
.uiux-icon p{
    font-size: 12px;
    text-align: center;
}
.uiux-right img{
    width: 136px;
    height: 40px;
}
.uiux-icon img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom{
    display: none;
}

/* footer */
.footer{
    height: 500px;
    background: linear-gradient(0deg, #8cd8db5e 0%, #fff 100%);
}
.footer img{
    width: 1607px;
    height: 100px;
    margin-top: 360px;
}
.footer-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 1800px){
    .sec-2 .tomboy,
    .sec-3 .levart,
    .sec-4 .rolex{
        width: 800px;
        height: 500px;
    }
    
    .tomboy-txt,
    .levart-txt,
    .rolex-txt{
        font-size: 20px;
    }
}
@media(max-width: 1600px){
    .banner-box1{
        font-size: 20px;
    }
    .banner-box2{
        font-size: 100px;
    }
    .animation{
        font-size: 20px;
    }
    .banner-box4{
        font-size: 24px;
    }

    .sec-1{
        background-color: #222;
    }
    .sec-1 .container{
        display: flex;
        background: url(../img/Union.png) no-repeat right;
        background-size: cover;
    }
    
    /* .profile-line{
        position: absolute;
        top: 1100px;
        left: 0;
        z-index: 0;
    } */
    .sec-1 .left-main.active{
        position: fixed;
        left: 7%;
        top: 15%;
        z-index: -1;
        height: 100vh;
    }
    .sec-1 .left-main .left-txt{
        font-size: 1.25rem;
        color: #fff;
    }
    .hashtag .tag{
        font-size: 1rem;
    }
    .up-tag{
        display: flex;
        margin-bottom: 12px;
    }
    .down-tag{
        display: flex;
    }
    .skill img{
        width: 486.94px;
        transform: translate(80%, 40px);
    }
    .tag1{
        width: 150px;
        margin-right: 12px;
    }
    .tag2{
        width: 177px;
    }
    .tag3{
        width: 129px;
        margin-right: 33px;
    }
    .tag4{
        width: 177px;
    }
    .skill-box p{
        font-size: 1.5rem;
    }

    .ani-bar{
        width: 400px;
    }
    .ani-bar .bar{
        height: 40px;
    }

    .footer{
        background: url(../img/THANK-YOU.png) no-repeat center;
    }
    .footer img{
        display: none;
    }
}
@media(max-width:1400px){
    .sec-1 .container{
        display: flex;
        background: none;
    }
    .sec-1 .left-profile{
        width: 300px;
        height: 300px;
    }
    .sec-1 .right-content{
        margin-left: -250px;
    }
    .sec-1 .left-main .left-txt{
        font-size: 1.25rem;
    }
    .skill img{
        transform: translate(70%, 40px);
    }
    .tag1{
        width: 100px;
        margin-right: 12px;
    }
    .tag2{
        width: 127px;
    }
    .tag3{
        width: 89px;
        margin-right: 22px;
    }
    .tag4{
        width: 127px;
    }
    .hashtag .tag{
        font-size: 0.75rem;
        height: 30px;
    }
    .ani-bar{
        width: 300px;
    }

    .sec-2{
        background-image: none;
        background-color: #D1C4C0;
    }
    .sec-3{
        background-image: none;
        background-color: #E9F3EF;
    }
    .sec-4{
        background-image: none;
        background-color: #C7D9E2;
    }

    .sec-2 .tomboy,
    .sec-3 .levart,
    .sec-4 .rolex{
        width: 700px;
        height: 400px;
    }
    
    .tomboy-txt,
    .levart-txt,
    .rolex-txt{
        font-size: 16px;
    }

    .sec-2 .container,
    .sec-3 .container,
    .sec-4 .container{
        margin-right: 50px;
    }

    .tomboy-left li,
    .levart-left li,
    .rolex-left li{
        margin-bottom: 32px;
        margin-right: 36px;
    }
    .tomboy-left .tomboy-sub1,
    .levart-left .levart-sub1,
    .rolex-left .rolex-sub1{
        margin-bottom: 93px;
    }
    
    .tomboy-right li,
    .levart-right li,
    .rolex-right li{
        margin-bottom: 28px;
    }
    .tomboy-right .tomboy-sub2,
    .levart-right .levart-sub2
    .rolex-right .rolex-sub2{
        margin-bottom: 32px;
    }

    .uiux-left li{
        margin-bottom: 28px;
    }
    .uiux-txt{
        font-size: 20px;
    }
    .uiux-right li{
        margin-bottom: 22px;
    }
}
@media(max-width:1200px){
    .circle{
        display: none;
    }

    .sec-1 .left-main.active{
        top: 20%;
    }
    .skill img{
        display: none;
    }
    .ani-bar{
        display: none;
    }
    .sec-1 .right-content{
        width: 50%;
        margin-top: 300px;
        margin-left: 0;
    }
    .skill-box{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .skill1, .value1{
        color: #FF835B !important;
    }
    .skill2, .value2{
        color: #83BCFF !important;
    }
    .skill3, .value3{
        color: #FBDE34 !important;
    }
    .skill4, .value4{
        color: #4541FF !important;
    }
    .skill5, .value5{
        color: #FF9A00 !important;
    }
    .skill6, .value6{
        color: #D9D9D9 !important;
    }
}
@media(max-width:1000px){
    .sec-2 .container,
    .sec-3 .container,
    .sec-4 .container{
        flex-direction: column;
        justify-content: flex-end;
        height: 110vh;
    }
    .sec-2 .tomboy,
    .sec-3 .levart,
    .sec-4 .rolex{
        margin-bottom: 50px;
    }

    .header-area #main-menu{
        display: none;
    }
    #hamburger{
        display: block;
        position: relative;
        left: 15%;
        width: 30px;
        height: 16px;
        z-index: 999;
    }
    #hamburger span{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #1E1D1D;
        transition: 0.3s;
        border-radius: 10px;
    }
    #hamburger span.active{
        background-color: #F0F5F7;
    }
    #hamburger span:nth-child(1){
        top: 0;
    }
    #hamburger span:nth-child(2){
        top: 50%;
    }
    #hamburger span:nth-child(3){
        top: 100%;
    }
    #hamburger.active span:nth-child(1){
        transform: rotate(45deg);
        top: 50%;
        background-color: #1E1D1D;
    }
    #hamburger.active span:nth-child(2){
        display: none;
    }
    #hamburger.active span:nth-child(3){
        transform: rotate(-45deg);
        top: 50%;
        background-color: #1E1D1D;
    }

    #hamburger span.on:nth-child(1){
        background-color: #fff;
    }
    #hamburger span.on:nth-child(2){
        background-color: #fff;
    }
    #hamburger span.on:nth-child(3){
        background-color: #fff;
    }

    .header-area #main-menu.active{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100vh;
        background-color: #d7e9ffd5;
        position: absolute;
        top: 0;
        right: 0;
    }
    .header-area #main-menu .menu:last-child {
        margin: 60px auto;
    }
    .header-area #main-menu .menu{
        margin: 60px auto;
        font-size: 60px;
    }
    .banner-box1{
        font-size: 16px;
    }
    .banner-box2{
        font-size: 60px;
    }
    .animation{
        font-size: 16px;
    }
    .banner-box4{
        font-size: 16px;
    }
}
@media(max-width:760px){
    .header-area #main-menu .menu{
        margin: 60px auto;
        font-size: 32px;
    }
    #hamburger{
        left: 0;
    }
    .banner{
        padding-left: 120px;
        padding-top: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .banner-box1{
        font-size: 12px;
    }
    .banner-box2{
        font-size: 60px;
    }
    .animation{
        display: none;
    }
    .banner-box4{
        font-size: 12px;
    }
    .right-content{
        display: none;
    }
    .sec-1 .left-content{
        width: 100%;
        padding-top: 200px;
        padding-left: 100px;
    }
    .sec-1 .left-main .left-txt{
        display: block;
        margin: 0 auto;
        font-size: 1rem;
    }
    .hashtag .tag{
        display: none;
    }
    .sec-1 .left-main.active{
        position: relative;
        top: 15%;
        left: 0;
        z-index: 1;
    }
    .sec-2 .tomboy,
    .sec-3 .levart,
    .sec-4 .rolex{
        width: 480px;
        height: 280px;
    }
    .sec-5 .container .swiper{
        display: none;
    }
    .uiux-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: sticky;
        margin-bottom: 200px;
    }
    .footer{
        background: linear-gradient(0deg, #8cd8db5e 0%, #fff 100%);
    }
}
@media(max-width:525px){
    .header-area{
        padding: 0 20px 0;
    }
    .sec-2 .tomboy,
    .sec-3 .levart,
    .sec-4 .rolex{
        width: 100vw;
        height: 300px;
        margin-left: 0;
        margin-right: 0;
    }
    .banner{
        width: 100vw;
        margin-left: 50px;
    }
    .container{
        width: 100vw;
    }
    .sec-1{
        height: 100vh;
    }
    .sec-5{
        background-color: #DEF4F5;
        background-image: none;
    }
}
